{% extends 'base.html' %}

{% block head%}
 <title>contact home </title>
{% endblock %}


{% block body%}

    <br>
    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>WELCOME</h1>
                <p>welcome to our contact tracing web app this web app was created to aid in contact tracing it contains
                    functions such as self check
                    and background check please enjoy our services and feel free to
                    <a href="/contactUs">contact us</a> and <a href="/docs/4.5/examples/navbar-fixed/">fixed
                        top</a> examples.</p>
                <p>this is a prototype some functionalities may not work but please bare with us as we aim to provide you
                    with all the functionalities.</p>
                <p>
                    please set up your account if you dont have one or sign in if you already have one
                    <br>
                    <a class="btn btn-primary" href="/sign_up" role="button">set up account
                        &raquo;</a>

                    <a class="btn btn-primary" href="/login" role="button">sign in
                        &raquo;</a>
                </p>
            </div>
        </div>
    </main>



{% endblock %}